*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 80rem;
    flex-direction: row;
}
.cir-m{
    height: 18rem;
    width: 9rem;
    background-color: white;
    margin-top: -0.5rem;
    margin-left: -0.95rem;
    display: flex;
    box-sizing: border-box;
    align-self: center;
}
.cir-l{
    height: 18rem;
    width: 18rem;
    border-radius: 0 50% 50% 0;
    background-color: blueviolet;
    align-self: center;
    justify-self: left;
    align-items: center;
    background-color: white;
    border: solid black 8px;
    margin-left: -4rem;
    box-sizing: border-box;
}
.cir-xl{
    height: 21rem;
    width: 21rem;
    border-radius: 50%;
    background-color: white;
    border: solid black 8px;
    display: flex;
    box-sizing: border-box;
}