body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: beige; */
}


#general {

    height: 20em;
    width: 20em;


    display: flex;
    flex-direction: column;

    border: 0.2em solid black;
}

.son {
    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: row;

}

.grandson {
    height: 100%;
    width: 50%;
    /* background-color: white; */
}

.black {
    background-color: black;
}
#container-filas{
    display: flex;
    flex-direction: column;
}
#container-columnas{
    display: flex;
    flex-direction: row;
}